.todo {
    margin: auto;
    background-color: grey;
    text-align: center;
    width: 70%;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 60px 0 rgb(0 0 0 / 12%);
    padding: 3%;
}